pcaps/maccdc2012_00000.pcap.gz filter=lfs diff=lfs merge=lfs -text
pcaps/maccdc2012_00001.pcap.gz filter=lfs diff=lfs merge=lfs -text
pcaps/maccdc2012_00002.pcap.gz filter=lfs diff=lfs merge=lfs -text
pcaps/maccdc2012_00003.pcap.gz filter=lfs diff=lfs merge=lfs -text
pcaps/maccdc2012_00004.pcap.gz filter=lfs diff=lfs merge=lfs -text
pcaps/maccdc2012_00005_fixed.pcap.gz filter=lfs diff=lfs merge=lfs -text
pcaps/maccdc2012_00006.pcap.gz filter=lfs diff=lfs merge=lfs -text
pcaps/maccdc2012_00007.pcap.gz filter=lfs diff=lfs merge=lfs -text
pcaps/maccdc2012_00008.pcap.gz filter=lfs diff=lfs merge=lfs -text
pcaps/maccdc2012_00009.pcap.gz filter=lfs diff=lfs merge=lfs -text
pcaps/maccdc2012_00010.pcap.gz filter=lfs diff=lfs merge=lfs -text
pcaps/maccdc2012_00011.pcap.gz filter=lfs diff=lfs merge=lfs -text
pcaps/maccdc2012_00012.pcap.gz filter=lfs diff=lfs merge=lfs -text
pcaps/maccdc2012_00013.pcap.gz filter=lfs diff=lfs merge=lfs -text
pcaps/maccdc2012_00014.pcap.gz filter=lfs diff=lfs merge=lfs -text
pcaps/maccdc2012_00015.pcap.gz filter=lfs diff=lfs merge=lfs -text
pcaps/maccdc2012_00016.pcap.gz filter=lfs diff=lfs merge=lfs -text
logs/eve.json.zst filter=lfs diff=lfs merge=lfs -text
logs/fast.log.zst filter=lfs diff=lfs merge=lfs -text
